{% extends 'base/base.html' %} {% block content %}

{% include 'partials/_messages.html' %}

<form method="post">
  {% csrf_token %}
  <div>
    <label for="{{ form.bio.id_for_label }}">Bio:</label>
    {{ form.bio }}
  </div>
  <div>
    <label for="{{ form.vid_quality.id_for_label }}">Video Quality:</label>
    {{ form.vid_quality }}
  </div>
  <button type="submit">Save</button>
</form>

{% comment %} <form method="post" enctype="multipart/form-data">
  {% csrf_token %} {% include 'partials/_messages.html' %}

  <div>
    <label for="bio">Bio:</label>
    <textarea id="bio" name="bio">{{ profile.bio }}</textarea>
  </div>
  <div>
    <label for="vid_quality">Video Quality:</label>
     <select name="vid_quality" id="vid_quality">
      {% for vid_quality in quality_choice %}
      <option name="vid_quality" value="{{ vid_quality.quality }}">
        {{ vid_quality.quality }}
      </option>
      {% endfor %}
    </select>
    
    <input
      id="vid_quality"
      name="vid_quality"
      type="text"
      value="{{ profile.vid_quality }}"
    />
    
  </div>
  <button type="submit">Save</button>
</form> {% endcomment %}

{% endblock content %}
