{% extends 'base/base.html' %} {% load static %} {% block content %}
<h1>Search and Download your Desired Videos</h1>
{% include 'partials/_messages.html' %}

<form action="{% url 'video_list' %}" method="get">
  <input type="text" name="q" id="" />
  <button type="submit">Search</button>
</form>
{% for video in videos %}
<h2>{{ video.title }}</h2>
<p>{{ video.description }}</p>
<a href="#{{ video.video_id }}" class="play-video">
  <img src="{{ video.thumbnail }}" alt="{{ video.title }}" />
</a>

<a href="{% url 'download' video.video_id %}" class="download-video"
  >Download Video</a
>
<div class="video-player" id="{{ video.video_id }}">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/{{ video.video_id }}"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
{% endfor %}

<style>
  .video-player {
    display: none;
  }
  .video-player iframe {
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 5px;
  }
</style>

{% endblock content %}

<script>
  document.querySelectorAll(".play-video").forEach(function (element) {
    element.addEventListener("click", function (event) {
      event.preventDefault();
      var videoId = event.target.hash.substring(1);
      var videoPlayer = document.querySelector("#" + videoId + " iframe");
      videoPlayer.src += "?autoplay=1";
      document.querySelector("#" + videoId).style.display = "block";
    });
  });
</script>
